.play-next-div img {
    object-fit: cover;
    width: 240px !important;
    height: 320px;
    box-shadow: 10px 10px 5px rgba(63, 60, 63, 0.377);
}

.home-categories-image:hover {
    transform: scale(1.04);
}

.banner-style {
    width: 100vw;
    height: 650px;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(97, 3, 121, 0.76), rgba(195, 0, 255, 0.747));
}
