.play-next-div img {
    object-fit: cover;
    width: 240px !important;
    height: 320px;
    box-shadow: 10px 10px 5px rgba(63, 60, 63, 0.377);
}
.home-categories-image:hover{
transform: scale(1.04);
}
