@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #top-menu .menu-btn {
        display: none;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}

/*// X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .industry-button {
        font-size: 12px;
        padding: 4px 8px;
    }

    .owl-next,
    .owl-prev {
        display: none;
    }

    .footer-style {
        text-align: center;
    }

}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    #top-menu .menu-btn {
        display: block;
    }

    #top-menu .nav {
        display: none;
    }

    .streaming {
        font-size: 30px;
    }

    .feature-movie-name {
        font-size: 30px;
        line-height: 1;
    }

    .industry-button {
        font-size: 12px;
        padding: 4px 8px;
    }

    .feature-carousel-item img {
        height: 570px !important;
    }

    #from-top {
        top: 570px;
    }
}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    body {
        font-size: 14px;
    }

    #top-menu .nav-link,
    #top-menu .dropdown-menu .dropdown-item {
        font-size: 13px;
        padding: 20px 10px
    }

    #top-menu .logo h2 {
        font-size: 20px;
    }

    .owl-next,
    .owl-prev {
        font-size: 45px;
        margin-top: -270px;
        z-index: 999;
        color: var(--secondary-color-hover);
        font-weight: 700;
    }

    .episode-description h3 {
        font-size: 20px;
    }
}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}

/*// X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {}
@media (max-width: 990px) {
    .owl-next,
    .owl-prev{
        display: none !important;
    }
}
