@import url('https://fonts.cdnfonts.com/css/big-john');

#top-menu {
    margin-top: 50px;
    z-index: 999;
}

#top-menu-items {
    background-color: var(--font-color);
    border-radius: 10px;
}

#top-menu .nav-link {
    padding: 20px 15px;
    color: var(--background)
}

#top-menu .nav-link:hover {
    color: var(--font-highlight)
}

#top-menu .dropdown-menu {
    border-radius: 0px;
    box-shadow: none;
    min-width: 180px;
    border: medium none;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: -2px !important;
    transform: translate(0px, 66px);
}

#top-menu .dropdown-menu .dropdown-item {
    padding: 15px 20px;
}


#carousel-menu-binding {
    width: 100%;
    position: absolute;
    top: -50px;
    /*z-index: -1;*/
    z-index: -2;
}

.feature-carousel-item {}

.feature-item-content {
    top: 170px;
    position: absolute;
}

.imdb {
    background: var(--rating);
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 12px;
    color: var(--background)
}

.streaming {
    top: calc(50% - 120px/2 - 1447.5px);
    font-family: 'Big John';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 50px;
    -webkit-text-fill-color: #6b31af;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: currentcolor;
    -webkit-text-stroke-color: #f7f7f7;
    text-shadow: 3px 3px #42176c;
}

.carousel-gradient {
    background: linear-gradient(to right, rgb(12, 23, 31) 10%, transparent 45%);
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    opacity: .8;
}

.feature-movie-name {
    font-family: 'Big John';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 55px;
    letter-spacing: 3px;
    color: #FFFFFF;
}

.btn-highlight {
    background: var(--font-highlight);
    color: var(--font-color);
    padding: 10px 30px;
    font-size: 18px;
    transition: all .2s ease-in-out;
}

.btn-highlight:hover {
    background: #541c98;
}

.play-next {
    background: var(--font-highlight);
    /*height: 125px;*/
    padding: 10px 15px;
    opacity: .9;
    width: 100% !important;
}
.play-next:hover {
    opacity: 1;
}
.play-next-btn {
    height: 40px;
    width: 40px;
    background: #f3f3f320;
    padding: 10px;
    color: red;
    font-size: 18px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.play-next-btn:hover {
    background: var(--background);
    color: var(--font-color);
}

.owl-carousel .owl-stage-outer {
    /* override */
    overflow: initial;
}

#carousel-area {
    /* override */
    overflow: hidden;
}


#from-top {
    position: absolute;
    width: 100%;
    top: 670px;
}

.home-categories {
    padding: 30px 20px;
}

.industry-button {
    background: var(--secondary-color);
    color: var(--font-color);
    border: none;
    transition: all .2s ease-in-out;
}

.industry-button:hover {
    background: var(--secondary-color-hover);
    color: var(--font-color)
}


.btn-icon {
    color: white;
    font-size: 16px;
    padding: 2px;
}

.btn-icon:hover {
    color: var(--rating);
}

.home-categories:nth-child(even) {
    background: var(--background);
}

.home-categories-item {
    padding-right: 12px;
    text-decoration: none;
    display: block;
    color: white;
}

.home-categories-item:hover {
    color: white;
}

.home-categories-item:last-child {
    padding-left: 12px;
}

.owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50%;
    width: 100%;
}

#bong-tv-original{
    position: relative;
}

.owl-next,
.owl-prev {
    font-size: 60px;
    z-index: 999;
    /*margin-top: -280px;*/
    color: var(--secondary-color-hover);
    font-weight: 700;


}


#based-on-watch .owl-item {
    padding: 12px;
}

#based-on-watch .owl-item:first-child {
    padding-left: 0;
}

#based-on-watch .btn-highlight {
    padding: 5px 20px;
    font-size: 14px;
}

._overlay {
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(219.42deg, rgba(33, 32, 64, 0) -13.86%, rgba(47, 21, 74, 0.8) 71.33%);
}

.based-on-image {
    object-fit: cover;
    height: 250px;
}

#footer .nav-link {
    color: var(--font-color)
}

/*#footer h4{*/
/*    border-bottom: 3px solid white;*/
/*    padding-bottom: 1px;*/
/*}*/
/*#footer h4:hover {*/
/*    border-bottom: 3px solid rgb(139, 10, 214);*/
/*}*/

.divider hr {
    background: black;
    height: 2px;
    width: 40%;

}

.form-control:focus {
    box-shadow: none !important;
    border: 1px solid var(--font-highlight)
}

.form-control {}

.btn-primary {
    background: var(--font-highlight);
    border: none
}

.btn-primary:hover {
    background: #601eb0;
}

.tabs .nav-link {
    color: var(--background);
    border: none;
    border-right: 1px solid var(--font-highlight);
    border-radius: 0;
}

.tabs .nav-link:last-child {
    border: none;
}

.tabs .nav-link.active {
    color: var(--font-highlight);
    border: none;
    background: var(--font-highlight);
    color: var(--font-color);
    border-right: 1px solid var(--font-highlight);
}

.btn {
    border-radius: 0;
}

.otp-box {
    height: 60px;
    width: 60px;
    font-size: 30px;
    border-radius: 0;
    text-align: center;
}

.owl-carousel {
    overflow: hidden
}

.play-mode-banner {
    background: var(--font-highlight);
    position: absolute;
    min-width: 30%;
    z-index: 999;
    top: 15px;
    border-radius: 4px;
    text-align: center;
    text-transform: capitalize;
    padding: 2px;
    left: -.5px;
    font-size: 10px;
}

input[name=payment_method]:checked+img+.payment-gateway {
    display: block !important;
}

.home-categories  .card-title{
    margin-top: 1.5rem !important;
}

.spinner-border{
    display: block;
    overflow: hidden;
    z-index: 111111111111111111111111111111111;
    border: 5px solid #444;
    border-right-color: rgb(68, 68, 68);
    border-right-color: #79797900;
    margin: auto;
}


/*search-tag style*/
.search-tag{
    position: absolute;
    top: 108%;
    z-index: 1111111111111;
    width: 100%;
    background: #f4f4f4;
    border: 1px solid #c7c5c98f;
    border-radius: 0px;
    display: block;
}
.wrrap-search ul{
    list-style: none;
    margin-right: 2rem;
}
.wrrap-search li{
    padding: 10px 20px;
    background: #e7e7e7;
    margin: 10px 0px;
}
.wrrap-search li a{
    text-decoration: none;
    color: #fc843c;
    font-size: 17px;
    font-weight: bold;
}
.wrrap-search li button{
    float: right;
    font-size: 16px;
    margin-top: 0;
}
