/*
:root{
    --theme-primary: #7020C4!important;
    --theme-primary-dark: #53029d !important;
}


.bg-primary{
    background: var(--theme-primary);
}
.btn-primary{
    border:none;
    background: var(--theme-primary);
}
.btn-primary:hover{
    background: var(--theme-primary-dark);
}
.text-primary{
    color: var(--theme-primary) !important;
}


.btn:focus, input:focus{
    box-shadow: none!important;
    border: 1px solid var(--theme-primary)!important;
}
.sidebar-nav .nav-link{
    color: var(--theme-primary);
}
.sidebar-nav .nav-content a:hover, .sidebar-nav .nav-content a.active{
    color: var(--theme-primary);
}
.sidebar-nav .nav-link i{
    color: var(--theme-primary);
}


.bongTVLogo{
    !*position: absolute;*!
    width: 175px;
    height: 35px;
    left: 872px;
    top: 105px;

    font-family: 'Big John';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;

    !* identical to box height *!
    text-align: center;

    color: var(--theme-primary);
}

*/
.delete-icon{
    font-size: 60px;
}


.cursor-move{
    cursor: move;
}

.modal-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    background-size: 25%;
    border: 0;
    border-radius: .375rem;
    opacity: .5;
}
.modal-header .modal-close {
    padding: calc(var(--bs-modal-header-padding-y) * .5) calc(var(--bs-modal-header-padding-x) * .5);
    margin: calc(-.5 * var(--bs-modal-header-padding-y)) calc(-.5 * var(--bs-modal-header-padding-x)) calc(-.5 * var(--bs-modal-header-padding-y)) auto;
}

.modal-close:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

.select2-dropdown{
    min-width: 150px!important;
}


